@import '../../themes/theme';

.authContainer {

    display: flex;
    flex-direction: column;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;;
    justify-content: center;
    height: 100%;
    width: 500px;
    margin: auto;

    .ant-btn:hover, .ant-input:hover, .ant-input:focus {
        color: $tertiary_dark_mode !important;
        border-color: $tertiary_dark_mode !important;
    }

    .ant-btn {
        margin: 20px 0px 20px 0px;
        font-weight: bold;
        display: block;
    }

    .ant-input {
        margin: 20px 0px 20px 0px;
        background-color: $primary_dark_mode;
        padding: 10px 5px 10px 5px;
        color: $secondary_dark_mode;
    }

    .ant-input::placeholder {
        color: $secondary_dark_mode;
    }

    .ant-input:hover::placeholder{ 
        color: $tertiary_dark_mode;
    }


    .buttonContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        color: $secondary_dark_mode;
        text-align: center;
    }

    .logo {
        height: 80px;
        margin: 0px auto 20px auto;
        width: 80px;
    }

}

@media(max-width: 550px){
    .authContainer {
        width: 300px;
    }
}

@media(max-height: 700px){
    .authContainer {
        .logo {
            display: none;
        }
    }
}