@import './themes/theme';

*, *::before, *::after {
    box-sizing: border-box;
  }

html {
    background-color: $primary_dark_mode;
    height: 100%;
    .ant-notification-notice-wrapper {
        background-color: $secondary_dark_mode !important;
    }

    .appContainer {
        display: flex;
        flex-direction: column;
        height: 100%
    }

    .rootDiv {
        height: 100%
    }
}

body {
    height: 100%;
    margin: 0px;
}

.panelContainer {
    
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: auto;
    width: fit-content;

    textarea {
        resize: vertical;
    }

    .ant-btn:hover {
        color: #E94444 !important;
        border-color: #E94444 !important;
    }

    .ant-collapse {
        width: 600px;
    }

    .ant-collapse-header {
        color: $secondary_dark_mode !important;
        font-weight: bold
    }

    .button {
        background-color: $secondary_dark_mode;
        color: $primary_dark_mode;
        font-weight: bold;
        margin-bottom: 30px;
        width: 120px;
    }

    .buttonContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .exportContainer {
        width: 80%;
        padding-top: 25px;
        margin: auto;
    }

    .header {
        display: block;
        height: 75px;
        margin: auto;
        margin-bottom: 50px;
    }

    .noteContainer {
        width: 550px;
    }

    .note {
        height: 150px;
        padding: 10px;
        margin-bottom: 30px;
        width: 100%;
    }

    .noteResult {
        font-family: monospace;
        font-size: 13px;
        border: 1px solid rgb(118, 118, 118);
        border-radius: 3px;
        background-color: $secondary_dark_mode;
        padding: 10px;
        resize: vertical;
        overflow: auto;
        word-wrap: break-word;
        margin-bottom: 30px;
        width: 100%;
    }

    .pageContainer {
        margin: auto;
        padding-top: 20px;
        width: fit-content;
    }

}