@import './themes/theme';

html {
    background-color: $background_dark_mode;
}

.container {
    color: $text_dark_mode;

    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;

    .button {
        margin-bottom: 30px;
    }

    .buttonContainer {
        display: flex;
        justify-content: space-between;
    }

    .header {
        display: block;
        height: 75px;
        margin: auto;
        margin-bottom: 50px;
    }

    .note {
        width: 550px;
        height: 150px;
        padding: 0px;
        margin-bottom: 30px;
    }

    .noteResult {
        font-family: monospace;
        font-size: 13px;
        border: 1px solid rgb(118,118,118);
        border-radius: 3px;
        background-color: #e6e6e6;
        resize: both;
        overflow: auto;
        word-wrap: break-word;
        margin-bottom: 30px;
    }

}